.createRecipeForm,
.createCategoryForm,
.createTagForm {
    width: 400px;
    margin: 2em;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1), 0 4px 16px 0 rgba(0,0,0,.15);
    padding: 1em;
}

.createRecipeForm label,
.createCategoryForm label,
.createTagForm label {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.createRecipeFormSection {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}